<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
    <title>Pagina con EJS</title>
</head>
<body>
    <h1>
        <%= title %>
    </h1>

    <% if (isActive) { %>
        <p>El servidor esta activo</p>
    <% } else { %>
        <p>El servidor esta inactivo</p>
    <% } %>

    <ul>
        <%= for(let i = 0; i < users.lenght; i++) { %>
        <li> <%= users[i].id %> <%= users[i].name %> <%= users[i].lastname %> </li>
        <% } %>
    </ul>
</body>
</html>

